.center-content {
    display:flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
}

.center {
    display:flex;
    justify-content: center;
    align-content: center;
}

.horizontal {
    flex: row;
}

.vertical {
    flex-direction: column;
}

fieldset{
    border-color: lightgray;
    padding: 15px;
    padding-top: 0px;
}

*{
    box-sizing: border-box;
    border-color: dimgray !important;
}

html, input, textarea, button, div, span{
    background-color: black !important;
    border-color: dimgray !important;
}


